<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-info" href="/urbano">Sinapsis SRL</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav w-100 d-flex my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100%"
      >
        <% if(user){ %> <% if(user.isTecnico){ %>

        <!-- TALLER -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="tallerDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Taller
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="tallerDropdown"
          >
            <li>
              <a class="dropdown-item" href="/urbano/taller/pc"
                >PC Pendientes</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/urbano/taller/imp"
                >Impresoras Pendientes</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="/urbano/taller/mis-ordenes-tomadas"
                >Mis Ordenes Tomadas</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/urbano/taller/ordenes-en-proceso"
                >Ordenes en Proceso</a
              >
            </li>
          </ul>
        </li>

        <% } %> <% if (user.isVendedor) { %>

        <!-- Vendedores -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="estadisticasDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Vendedores
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="estadisticasDropdown"
          >
            <!-- Lista ordenes para retirar -->
            <li>
              <a
                class="dropdown-item"
                href="/urbano/taller/ordenes-para-retirar"
              >
                Ordenes para retirar
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/urbano/taller/pc"
                >PC Pendientes</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/urbano/taller/imp"
                >Impresoras Pendientes</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="/urbano/taller/ordenes-en-proceso"
                >Ordenes en Proceso</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/urbano/taller/ordenes-sin-reparacion"
                >Sin Reparacion</a
              >
            </li>
            <!-- Ingresar Articulo en Orden -->
            <li class="nav-item">
              <a
                class="dropdown-item"
                href="/urbano/taller/agregar-articulo-orden"
              >
                Ingresar Articulo en Orden
              </a>
            </li>
            <!-- Quitar Articulo en Orden -->
            <li class="nav-item">
              <a
                class="dropdown-item"
                href="/urbano/taller/quitar-articulo-orden"
              >
                Quitar Articulo de Orden
              </a>
            </li>
          </ul>
        </li>

        <% } %> <% if (user.isEstadistica) { %>

        <!-- Administracion -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="estadisticasDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Administracion
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="estadisticasDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                href="/urbano/taller/estadisticas-tecnicos"
                >Estadisticas</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/urbano/taller/ordenes-en-proceso"
                >Ordenes en Proceso</a
              >
            </li>
            <!-- Ingresar Articulo en Orden -->
            <li class="nav-item">
              <a
                class="dropdown-item"
                href="/urbano/taller/agregar-articulo-orden"
              >
                Ingresar Articulo en Orden
              </a>
            </li>
            <!-- Quitar Articulo en Orden -->
            <li class="nav-item">
              <a
                class="dropdown-item"
                href="/urbano/taller/quitar-articulo-orden"
              >
                Quitar Articulo de Orden
              </a>
            </li>
            <!-- Historial Ingreso Egreso Articulos -->
            <li class="nav-item">
              <a
                class="dropdown-item"
                href="/urbano/taller/historial-ingreso-egreso-articulos"
              >
                Historial
              </a>
            </li>
          </ul>
        </li>
        <% } %>
      </ul>

      <!-- BUSCAR ORDEN -->
      <form
        class="d-flex"
        action="/urbano/taller/orden-reparacion"
        method="GET"
        id="formBuscarOrden"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar Orden"
          aria-label="Search"
          name="orden"
          id="orden"
          type="number"
          minlength="5"
          maxlength="5"
        />
        <button class="btn btn-outline-success" id="btn-orden" type="submit">
          Buscar
        </button>
      </form>

      <!-- Log in -->
      <div class="ms-auto">
        <ul class="navbar-nav navbar-nav-scroll">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="tallerDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-person-circle"></i> <%= user.fullname %>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="tallerDropdown"
            >
              <li>
                <a class="dropdown-item" href="/logout">Log out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <% } else{ %>
      <div class="ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
      </div>
      <% } %>
    </div>
  </div>
</nav>
