<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- NAV -->
    <%- include("./partials/navbar.ejs") %>
    <div class="container-fluid pt-5 min-vh-100" id="main">
      <div class="container pt-4" id="content">
        <!-- Contenido -->
        <h1 class="text-white">MIS ORDENES TOMADAS</h1>
        <%- include("./partials/tabla_ordenes.ejs") %>
      </div>
    </div>

    <!-- JS -->
    <%- include("./partials/js.ejs") %>
    <script>
      $(function () {
        const btn_guardar_diagnostico = $(".btn_guardar_diagnostico");
        const form_diagnostico = $(".form_diagnostico");

        form_diagnostico.on("submit", function (e) {
          e.preventDefault();
          const orden = this.id;
          const diagnostico = $("#diagnostico" + orden).val();

          if (diagnostico) {
            $.ajax({
              url: "/urbano/taller/guardar-diagnostico-orden",
              type: "post",
              dataType: "json",
              data: { orden, diagnostico },
              success: function (data) {
                if (data) {
                  const response = confirm(`Diagnostico guardado!`);
                } else {
                  console.log("No se guardo diagnostico.");
                }
              },
            });
          }
        });
      });
    </script>
  </body>
</html>
