<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- NAV -->
    <%- include("./partials/navbar.ejs") %>
    <div class="container-fluid pt-5 min-vh-100" id="main">
      <div class="container-fluid pt-4" id="content">
        <!-- Contenido -->
        <h1 class="text-white">MIS ORDENES TOMADAS</h1>
        <%- include("./partials/tabla_ordenes.ejs") %>
      </div>
    </div>

    <!-- JS -->
    <%- include("./partials/js.ejs") %>
    <script src="/js/guardar_diagnostico.js"></script>
    <script src="/js/cerrar_orden.js"></script>
  </body>
</html>
